#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	overflow: auto;
	background-color: #ffe9fe !important;
}
body {
}
#root:has(#authLayout) {
	background-color: #ffe9fe !important;
}
.bg-primary-light {
	background-color: #ffe9fe !important;
}
/* 
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
} */

@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-VariableFont_slntwght.ttf);
}
@font-face {
	font-family: "Nunito-Regular";
	src: url(./assets/fonts/static/Nunito-Regular.ttf);
}
@font-face {
	font-family: "Nunito-Black";
	src: url(./assets/fonts/static/Nunito-Black.ttf);
}

* {
	font-family: Nunito-Regular;
}
*::selection {
	background-color: #ff00f7;
	color: #fff;
}

.font-black,
.font-black * {
	font-family: "Nunito-Black";
}

* {
	/* transition: all 0.2s; */
}

.logo-img {
	height: 40px;
}
@media screen and (max-width: 992px) {
	.logo-img {
		height: 26px;
	}
}
/* .nav-link {
	padding-left: 1em;
	padding-right: 1em;
}
.nav-link:hover {
	padding-left: 1.2em;
	padding-right: 1.2em;
	background-color: #eee;
} */

* {
	--mdb-primary-rgb: 255, 0, 247;
	--mdb-body-color: #444;
}
.btn-primary {
	--mdb-btn-bg: #ff00f7;
	--mdb-btn-color: #fff;
	--mdb-btn-box-shadow: 0 4px 9px -4px #ff00f7;
	--mdb-btn-hover-bg: #cc00ff;
	--mdb-btn-hover-color: #fff;
	--mdb-btn-focus-bg: #cc00ff;
	--mdb-btn-focus-color: #fff;
	--mdb-btn-active-bg: #bb00cc;
	--mdb-btn-active-color: #fff;
	--mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(255, 0, 247, 0.3),
		0 4px 18px 0 rgba(255, 0, 247, 0.2);

	--mdb-btn-active-border-color: #bb00cc;
	--mdb-btn-active-shadow: 0 8px 9px -4px rgba(0, 0, 0, 0.15),
		0 4px 18px 0 rgba(0, 0, 0, 0.1);
	--mdb-btn-disabled-color: #fff;
	--mdb-btn-disabled-bg: #ff00f7;
	--mdb-btn-disabled-border-color: #ff00f7;
}

.btn-outline-primary {
	--mdb-btn-bg: transparent;
	--mdb-btn-color: #ff00f7;
	--mdb-btn-hover-bg: transparent;
	--mdb-btn-hover-color: #cc00ff;
	--mdb-btn-focus-bg: transparent;
	--mdb-btn-focus-color: #cc00ff;
	--mdb-btn-active-bg: transparent;
	--mdb-btn-active-color: #bb00cc;
	--mdb-btn-border-color: #ff00f7;
	--mdb-btn-focus-border-color: #cc00ff;
	--mdb-btn-hover-border-color: #cc00ff;
	border-color: var(--mdb-btn-border-color);
}

.w-600 {
	max-width: 600px;
}
.w-1000 {
	max-width: 1000px;
}

.w-465 {
	max-width: 465px;
}
.w-400 {
	max-width: 400px;
}
.w-300 {
	max-width: 300px;
}

.w-250 {
	max-width: 250px;
}
.w-200 {
	max-width: 200px;
}

.pt-80 {
	padding-top: 80px;
}
.pb-100 {
	padding-bottom: 200px;
}

.rounded-end-pill {
	border-top-right-radius: 50px !important;
	border-bottom-right-radius: 50px !important;
}
.rounded-start-pill {
	border-top-left-radius: 50px !important;
	border-bottom-left-radius: 50px !important;
}
.rounded-top-pill {
	border-top-left-radius: 50px !important;
	border-top-right-radius: 50px !important;
}

.input-group .form-control:not(:last-child) {
	border-right: transparent;
}
.input-group .form-control:not(:first-child) {
	border-left: transparent;
}
.input-group .form-control:focus,
.form-control:focus,
.form-select:focus {
	border-color: #ff00f7 !important;
	border-left: solid 1px #ff00f7 !important;
	border-right: solid 1px #ff00f7 !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 247, 0.25);
}

.gradient-primary {
	background: linear-gradient(90deg, #ff00f7 -10%, #ff00f730 90%);
}
.gradient-primary-2 {
	background: linear-gradient(90deg, #ff00f7 10%, #bc67ff 110%);
}

.text-webkit-center {
	text-align: -webkit-center;
}

.cursor-pointer {
	cursor: pointer;
}

.error-message-wrapper {
	font-size: 18px;
	line-height: 20px;
	min-height: 28px;
}

.country-option {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.country-logo {
	width: 35px;
	height: 20px;
	margin-right: 8px;
	margin-left: 52px;
}

.selected-logo {
	width: 35px;
	height: 20px;
	margin-right: 8px;
}
.cloud {
	position: absolute;
	opacity: 0.7;
}
#cloud-1 {
	z-index: 1;
	top: 90px;
	left: 0px;
	transform: translate(-8px, -50%);
}
#cloud-2 {
	top: 0px;
	right: 0px;
	transform: translate(8%, -50%);
}
#cloud-3 {
	top: 130px;
	left: 30%;
	transform: translate(-50%, -100%);
}

@media (max-width: 576px) {
	.modal-dialog {
		max-width: 100% !important;
	}
	.card-body {
		padding: 1rem;
	}
}

.spinner-wrapper {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	/* background: rgba(0, 0, 0, 0.5); */
	z-index: 999;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 58px 0 0;
	padding-top: 58px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
	width: 240px;
	z-index: 600;
}

.radius-top {
	border-top-left-radius: 0.5rem !important;
	border-top-right-radius: 0.5rem !important;
	padding: 0.7rem !important;
}
/* .media-tab .nav-link.active { */
/* border-bottom-color: red !important; */
/* margin-bottom: -2px; */
/* } */
/* .media-tab .nav-link {
	margin-bottom: 0px;
	padding: 0.7rem !important;
	border-bottom-color: #ffe9fe !important;
} */
.rounded-top-4 {
	border-top-left-radius: 0.4rem !important;
	border-top-right-radius: 0.4rem !important;
}
.rounded-start-0 {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
/* .radius-top.active {
	background-color: white !important;
	box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
} */

.language-dropdown::after {
	content: none;
}

.nav-tabs .nav-link {
	margin-bottom: -2px;
	background: 0 0;
	border: 2px solid transparent;
	padding: 0.7rem !important;
	text-align: center;
}
.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: #0d6efd;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}
.nav-tabs .nav-link:hover {
	background-color: #ffe9fe;
	border-color: transparent;
	border-bottom-color: #ff00f7;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #495057;
	background-color: #fff;
	border-color: #ff00f7 #ff00f7 #fff;
}
.badge-primary {
	background-color: #ffe9fe;
	color: #ff00f7;
}

small,
.small {
	font-size: 0.8em;
}

.wallet-z-2 {
	width: calc(100% - 16px);
	bottom: -8px;
	margin-left: 8px;
	margin-right: 8px;
	z-index: 2;
}
.wallet-z-1 {
	width: calc(100% - 32px);
	bottom: -16px;
	margin-left: 16px;
	margin-right: 16px;
	z-index: 1;
}

.text-transform-none {
	text-transform: none;
}
.text-transform-capitalize {
	text-transform: capitalize;
}
.text-transform-uppercase {
	text-transform: uppercase;
}

.line-height-small {
	line-height: 1.2;
}

.collapse-content {
	padding: 0 !important;
}

.css-t3ipsp-control {
	border-color: #ff00f7 !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 247, 0.25) !important;
}
.css-1dq8mrj-control {
	border-color: #ff00f7 !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 247, 0.25) !important;
}

.wrap-anywhere {
	overflow-wrap: anywhere;
}

.css-1foztyy-option .text-secondary {
	color: #fff !important;
}
.country-option {
	border-bottom: solid 1px lightgrey;
}
.country-option:last-child {
	border-bottom: 0;
}

.css-42axt2-Input2 {
	display: none !important;
}