.rootLayout {
	/* display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: auto; */
	/* background-color: #eee5fc; */
}
/* 
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
} */

@font-face {
	font-family: "Inter";
	src: url(./assets/fonts/Inter-VariableFont_slntwght.ttf);
}
@font-face {
	font-family: "Nunito-Regular";
	src: url(./assets/fonts/static/Nunito-Regular.ttf);
}
@font-face {
	font-family: "Nunito-Black";
	src: url(./assets/fonts/static/Nunito-Black.ttf);
}

* {
	font-family: Nunito-Regular;
}
*::selection {
  background-color: #6625d0;
  color: #fff;
}

.font-black,
.font-black * {
	font-family: "Nunito-Black";
}

* {
	transition: all 0.2s;
}

.logo-img {
	width: 180px;
}
@media screen and (max-width: 992px) {
	.logo-img {
		width: 120px;
	}
}
.nav-link {
	padding-left: 1em;
	padding-right: 1em;
}
.nav-link:hover {
	padding-left: 1.2em;
	padding-right: 1.2em;
	background-color: #eee;
}

* {
	--mdb-primary-rgb: 102, 37, 208;
	--mdb-body-color: #444;
}
.btn-primary {
	--mdb-btn-bg: #6625d0;
	--mdb-btn-color: #fff;
	--mdb-btn-box-shadow: 0 4px 9px -4px #6625d0;
	--mdb-btn-hover-bg: #6027e0;
	--mdb-btn-hover-color: #fff;
	--mdb-btn-focus-bg: #6027e0;
	--mdb-btn-focus-color: #fff;
	--mdb-btn-active-bg: #5525c0;
	--mdb-btn-active-color: #fff;
	--mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(59, 113, 202, 0.3),
		0 4px 18px 0 rgba(59, 113, 202, 0.2);
}

.btn-outline-primary {
	--mdb-btn-bg: transparent;
	--mdb-btn-color: #6625d0;
	--mdb-btn-hover-bg: transparent;
	--mdb-btn-hover-color: #6027e0;
	--mdb-btn-focus-bg: transparent;
	--mdb-btn-focus-color: #6027e0;
	--mdb-btn-active-bg: transparent;
	--mdb-btn-active-color: #5525c0;
	--mdb-btn-border-color: #6625d0;
	--mdb-btn-focus-border-color: #6027e0;
	--mdb-btn-hover-border-color: #6027e0;
	border-color: var(--mdb-btn-border-color);
}

.w-600 {
	max-width: 600px;
}

.w-300 {
	max-width: 300px;
}

.w-465 {
	max-width: 465px;
}
.w-250 {
  max-width: 250px;
}

.pt-100{
  padding-top: 200px;
}
.pb-100{
  padding-bottom: 200px;
}

.rounded-end-pill {
	border-top-right-radius: 50px !important;
	border-bottom-right-radius: 50px !important;
}
.rounded-start-pill {
	border-top-left-radius: 50px !important;
	border-bottom-left-radius: 50px !important;
}

.input-group .form-control:not(:last-child){
  border-right: transparent;
}
.input-group .form-control:not(:first-child){
  border-left: transparent;
}
.input-group .form-control:focus {
  border-color: #6625d0 !important;
  border-left: solid 1px #6625d0 !important;
  border-right: solid 1px #6625d0 !important;
  box-shadow: 0 0 0 0.2rem rgba(102, 37, 208, 0.25);
}

.text-webkit-center {
  text-align: -webkit-center;
}
/* 
.auth-btn{
    width: 255px;
    height: 65px;
    font-size: 35px;
    font-family: 'Inter';
    background-color: #D9D9D9;
    color: #000;
    cursor: pointer;
}

.full-radius {
  border-radius: 50px;
}
.radius-20{
  border-radius: 20px;
}

.display-text{
  font-size: 70px;
  font-family: Nunito-Regular;
  color: black;
}

.cover-letter{
  font-size: 30px;
}

.Nunito-Black{
  font-family: Nunito-Black;
}


.w-250{
  width: 250px;
}

.bg-pink{
  background-color: #DC8BF9;
}

.mt-80 {
  margin-top: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-200{
  margin-bottom: 200px;
}

.mt-100 {
  margin-top: 100px;
}

.m-text-end {
  text-align: center;
}
@media (min-width: 992px) {
  .m-text-end {
      text-align: end;
  }
}

.m-input-group .input-group-text{
  background-color: white;
  padding: 12px 20px;
}

.m-input-group .form-control{
  border-left: 0;
  font-size: 23px;
  padding: 12px 20px;
}

.m-input-group{
  border-radius: 50px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}

.btn-purple{
  padding: 12px;
  font-size: 23px;
  background-color: #774DF5;
  border: #774DF5;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}
.btn-purple:hover{
  background-color: #673ce5;
  border: #673ce5;
}
.text-primary {
  color: #774DF5;
}

.font-40 {
  font-size: 40px;
  color: #000;
}
.font-50 {
  font-size: 50px;
  color: #000;
}

.w-300 {
  width: 300px;
}

.mb-20 {
  margin-bottom: 32px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #dc8bf9;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(220, 139, 249, 0.5);
} */

.error-message-wrapper {
  font-size: 18px;
  line-height: 20px;
  min-height: 28px;
}

.country-option {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.country-logo {
	width: 35px;
	height: 20px;
	margin-right: 8px;
	margin-left: 52px;
}

.selected-logo {
	width: 35px;
	height: 20px;
	margin-right: 8px;
}
.cloud {
  position: absolute;
}
#cloud-1 {
  top: 220px;
  left: 40px;
}
#cloud-2 {
  top: 200px;
  right: 40px;
  width: 160px;
}
#cloud-3 {
  top: 90px;
  left: 35%;
  transform: translateX(-50%);
  width: 160px;
}