.rootLayout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: #F2E8F2;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1140px;
  }
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}
@font-face {
  font-family: 'Nunito-Regular';
  src: url(./assets/fonts/static/Nunito-Regular.ttf);
}
@font-face {
  font-family: 'Nunito-Black';
  src: url(./assets/fonts/static/Nunito-Black.ttf);
}

*{
  font-family: Nunito-Regular;;
}

.auth-btn{
    width: 255px;
    height: 65px;
    font-size: 35px;
    font-family: 'Inter';
    background-color: #D9D9D9;
    color: #000;
    cursor: pointer;
}

.full-radius {
  border-radius: 50px;
}

.display-text{
  font-size: 70px;
  font-family: Nunito-Regular;
  color: black;
}

.cover-letter{
  font-size: 30px;
}

.Nunito-Black{
  font-family: Nunito-Black;
}

.w-465{
  width: 465px;
}

.bg-pink{
  background-color: #DC8BF9;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.m-text-end {
  text-align: center;
}
@media (min-width: 992px) {
  .m-text-end {
      text-align: end;
  }
}

.m-input-group .input-group-text{
  background-color: white;
  padding: 12px 8px 12px 30px;
}
.m-input-group .form-control{
  border-left: 0;
  font-size: 23px;
  padding: 12px 30px 12px 8px;
}
.m-input-group{
  border-radius: 50px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
}